[viewBag]

[staticMenu headMenu]
code = "head-menu"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 2
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "posts"
==

<footer id="footer" class="style-1 clearfix">
    <img class="bg-right" src="assets/img/bg-footer-2.png" alt="Image">
    <div id="footer-widgets" class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-6">
                <div class="widget widget_text">
                    <div class="textwidget">
                        <img src="{{ 'assets/images/white_logo.png'|theme}}" alt="">
                        <p class="margin-bottom-15">{{ 'Biz ijtimoiy tarmoqlarda'|_}}</p>
                        <div class="footer-socials">
                            <div class="inner">
                                <span class="icons">
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <a href="#"><i class="fa fa-telegram"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="0"></div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="0" data-smobile="50"></div>
                <div class="widget widget_services">
                    <h3 class="widget-title margin-bottom-30">{{'Foydali manzillar'|_}}</h3>
                    {% for item in headMenu.menuItems if not item.viewBag.isHidden %}
                    <ul class="service-list">
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="50" data-smobile="50"></div>
                <div class="widget widget_Latest-post">
                    <h3 class="widget-title">{{ 'So‘ngi yangiliklar'|_}}</h3>
                    <ul class="lastest-posts data-effect clearfix">
                        {% for post in blogPosts.posts %}
                        <li class="clearfix">
                            <div class="thumb ">
                                <img src="{{ post.metadata.banner_image|media }}" alt="{{ post.title }}">
                            </div>
                            <div class="text">
                                <span class="post-date">{{ post.published_at|date('d/m/Y') }}</span>
                                <h4><a href="blog-detail.html">{{ post.title }}</a></h4>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="bottom" class="clearfix has-spacer">
    <div id="bottom-bar-inner" class="container">
        <div class="bottom-bar-inner-wrap">
            <div class="bottom-bar-content">
                <div id="copyright">
                    <a class="margin-right-3" href="#">© live-nature.uz</a>
                    <span class="text">{{ ''|date('Y') }} | {{'Barcha huquqlar himoyalangan'|_}} </span>
                </div>
            </div>
        </div>
    </div>
</div>