<footer id="footer" class="style-1 clearfix">
    <img class="bg-right" src="assets/img/bg-footer-2.png" alt="Image">
    <div id="footer-widgets" class="container">
        <div class="row ">
            <div class="col-lg-3 col-md-6">
                <div class="widget widget_text">
                    <div class="textwidget">
                        <img src="{{ 'assets/images/white_logo.png'|theme}}" alt="">
                        <p class="margin-bottom-15">Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euis </p>
                        <div class="footer-socials">
                            <div class="inner">
                                <span class="icons">
                                <a class="active" href="#"><i class="fa fa-facebook-square"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="0"></div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="0" data-smobile="50"></div>
                <div class="widget widget_services">
                    <h3 class="widget-title margin-bottom-30">Services</h3>
                    <ul class="service-list">
                        <li><a href="service-detail.html">Conditions</a></li>
                        <li><a href="service-detail.html">Terms of Use</a></li>
                        <li><a href="service.html">Our Services</a></li>
                        <li><a href="blog.html">New Guests List</a></li>
                        <li><a href="team.html">The Team List</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="50" data-smobile="50"></div>
                <div class="widget widget_Latest-post">
                    <h3 class="widget-title">Latest Post</h3>
                    <ul class="lastest-posts data-effect clearfix">
                        <li class="clearfix">
                            <div class="thumb ">
                                <img src="assets/img/post/recent-new-4.jpg" alt="Image">
                            </div>
                            <div class="text">
                                <span class="post-date">December 7, 2021</span>
                                <h4><a href="blog-detail.html">Bigg Ideas Of Business
                                    branding Info.</a>
                                </h4>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="thumb ">
                                <img src="assets/img/post/recent-new-5.jpg" alt="Image">
                            </div>
                            <div class="text">
                                <span class="post-date">December 7, 2021</span>
                                <h4><a href="blog-detail.html">Bigg Ideas Of Business
                                    branding Info.</a>
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-lg-3 col-md-6">
                <div class="themesflat-spacer clearfix" data-desktop="5" data-mobile="50" data-smobile="50"></div>
                <div class="widget widget_email">
                    <h3 class="widget-title margin-bottom-30">Subscribe</h3>
                    <div class="email-form ">
                        <div class="Email">
                            <input type="text" placeholder="Email">
                        </div>
                        <div>
                            <button class="btn-subcriber">Subscribe</button>
                        </div>
                        <span class="tittle-email">Get the latest updates via email. Any time you may unsubscribe</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="bottom" class="clearfix has-spacer">
    <div id="bottom-bar-inner" class="container">
        <div class="bottom-bar-inner-wrap">
            <div class="bottom-bar-content">
                <div id="copyright">
                    <a class="margin-right-3" href="#">© Yoursitename</a>
                    <span class="text">2021 | All Rights Reserved </span>
                </div>
            </div>
            <div class="bottom-bar-menu">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Sitemap</a>
                <a class="padding-right-0" href="#">Help</a>
            </div>
        </div>
    </div>
</div>
