[alternateHrefLangElements]

[staticMenu headMenu]
code = "head-menu"

[viewBag]
==
<div id="site-header-wrap">
    <div id="top-bar">
        <div id="top-bar-inner" class="container">
            <div class="top-bar-inner-wrap">
                <div class="top-bar-content">
                    <div class="inner">
                        {% component 'contenteditor' file="top-header/adress.htm" fixture="span" class="location content" %}
                        {% component 'contenteditor' file="top-header/email.htm" fixture="span" class="envelope content" tools="link" href="" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header id="site-header">
        <div id="site-header-inner" class="container">
            <div class="wrap-inner clearfix">
                <div id="site-logo" class="clearfix">
                    <div id="site-logo-inner">
                        <a href="{{ 'home' | page }}" rel="home" class="main-logo">
                        <img src="{{ 'assets/images/logo_small.png'|theme}}" alt="" data-retina="{{ 'assets/images/logo.png'|theme}}">
                        </a>
                    </div>
                </div>
                <div class="mobile-button">
                    <span></span>
                </div>
                <nav id="main-nav" class="main-nav">
                    {% partial 'main-menu' items=headMenu.menuItems %}
                </nav>
            </div>
        </div>
    </header>
</div>
