[alternateHrefLangElements]

[staticMenu headMenu]
code = "head-menu"

[viewBag]
==
<div id="site-header-wrap">
    <div id="top-bar">
        <div id="top-bar-inner" class="container">
            <div class="top-bar-inner-wrap">
                <div class="top-bar-content">
                    <div class="inner">
                        {% component 'contenteditor' file="top-header/adress.htm" fixture="span" class="location content" %}
                        {% component 'contenteditor' file="top-header/email.htm" fixture="span" class="envelope content" tools="link" href="" %}
                    </div>
                </div>
                <div class="top-bar-socials">
                    <div class="inner">
                        <span class="icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header id="site-header">
        <div id="site-header-inner" class="container">
            <div class="wrap-inner clearfix">
                <div id="site-logo" class="clearfix">
                    <div id="site-logo-inner">
                        <a href="{{ 'home' | page }}" rel="home" class="main-logo">
                        <img src="{{ 'assets/images/logo_small.png'|theme}}" alt="" data-retina="{{ 'assets/images/logo.png'|theme}}">
                        </a>
                    </div>
                </div>
                <div class="mobile-button">
                    <span></span>
                </div>
                <nav id="main-nav" class="main-nav">
                    {% partial 'main-menu' items=headMenu.menuItems %}
                </nav>
                <div id="header-get-a-quote">
                    <a href="#" class="header-get-a-quote-icon">Get A Quote</a>
                </div>
            </div>
        </div>
    </header>
</div>
<!--<li class="menu-item menu-item-has-children">-->
<!--    <a class="active down" href="blog.html">{{ activeLocaleName }}</a>-->
<!--    <ul class="sub-menu ">-->
<!--        <li class="menu-item"><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'uz'">O‘zbek</a></li>-->
<!--        <li class="menu-item"><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'ru'">Русский</a></li>-->
<!--        <li class="menu-item"><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">English</a></li>-->
<!--    </ul>-->
<!--</li>-->
