[viewBag]
==
<ul id="menu-primary-menu" class="menu">
    {% for item in items if not item.viewBag.isHidden %}
    <li class="menu-item {{ item.items ? 'menu-item-has-children' : ''}}">
        <a class="{{ item.items ? 'down' : '' }} {{ item.isActive or item.isChildActive ? 'active' : '' }}" href="{{ item.url }}">{{ item.title }}</a>
        {% if item.items %}
        <ul class="sub-menu style-2">
            {% for child in item.items %}
            <li class="menu-item"><a class="{{ child.isActive ? 'active' : '' }}" href="{{ child.url }}">{{ child.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
    <li class="menu-item menu-item-has-children">
        <a class="active down" href="#">{{ activeLocaleName }}</a>
        <ul class="sub-menu ">
            <li class="menu-item"><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'uz'">O‘zbek</a></li>
            <li class="menu-item"><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'ru'">Русский</a></li>
            <li class="menu-item"><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">English</a></li>
        </ul>
    </li>
</ul>